* {
	font-family:"Trebuchet MS","Helvetica";
	font-size:11px;
	color:#333333;
}

body {
	margin:0px;
	background:#f5f5f5;
}

a {
	color:#545443;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

#conteudo {
	padding:10px;
}

#rodape {
	height:20px;
	background-color:#B1C0C9;
}

#topo {
	height:60px;
}

.hello {
    font-size:11px;
    color:#3C719D;
    padding-right:14px;
    _padding-right:23px;
}

.hello strong {
    font-size:11px;
    color:#3C719D;
}

table.tableLogin {
	margin-right:30px;
	margin-bottom:40px;
    border:1px solid #C3D9FF;
    /*background:#C3D9FF;*/
}

table.tableLoginAzul {
    background:#C3D9FF;
    margin-top:20px;
    margin-right:20px;
    text-align:right;
}

table.tableLoginAzul tr td h4 {
    font-size:20px;
    margin:0px;
    padding-right:20px;
}

table.tableGeral {
    border:2px solid #B1C0C9;
    border-top:5px solid #B1C0C9;
    min-height:600px;
    height:100% !important;

}

table.tableSearchLog {
    border:1px solid #CFDEFF;
    padding:5px;
    margin-top:20px;
}

table.tableRatesCharges {
    padding-bottom:10px;
    border-collapse:collapse;
    color:#333333;
}

table.tableRatesCharges caption {
    background:#efefef none repeat scroll 0 0;
    border:1px solid #CCCCCC;
    color:#666666;
    font-size:1.1em;
    font-weight:bold;
    margin-bottom:10px;
    padding:5px;
}

table.tableRatesCharges th {
    border-right:2px solid #fff;
    padding:5px;
    padding-right:10px;
    vertical-align:top;
}

fieldset {
    width:80%;
    border:1px solid #c0c0c0;
    margin-bottom:20px;
}

fieldset legend {
	font-weight:bold;
}

tr.trCabecalho {
   background:#e0ecff;
}

#conteudo h2 {
	font-size:20px;
	font-weight:bold;
	color:#2A5DB0;
}

#conteudo h2.login {
	font-size:12px;
	font-weight:bold;
	background:none;
}
#conteudo .nobr {
	white-space:nowrap;
}

.alerta {
	color:#ff0019;
	font-weight:bold;
    margin-bottom:10px;
}

.botoes {
	padding:0px;
    padding-bottom:10px;
	margin:0px;
	float:left;
	width:100%;
}

.botoes li {
	float:left;
	list-style:none;
	margin:0px;
	border:1px solid #eaeaea;
	margin-right:-1px;
	margin-bottom:-1px;
	_margin-bottom:1px;
}

.botoes a {
	float:left;
	width:auto;
	white-space:nowrap;
	padding:5px;
	height:18px;
	_height:28px;
}

.botoes a:hover {
	background-color:#eaeaea;
}

#conteudo table {
	clear:both;	
}

#topo u {
	font-size:10px;
	color:#333333;
	text-decoration:none;
}

input { 
	color:#000;
	border:1px solid #cccccc;
}

textarea {
    border:1px solid #CCCCCC;
    color:#000000;
}

th {
	background-color:#C2C2C2;
}
